@import '../../assets/sass/common';

.background {
  background-image: url('../../assets/images/gameplay-bg.jpg');
  width: 2560px;
  height: 1440px;

  .left-side-bar {
    position: absolute;
    top: 400px;
    left: 115px;
  }
  .right-side-bar {
    position:absolute;
    top: 400px;
    left: 2360px;
  }

  .level-info {
    position:absolute;
    left: 770px;
  }

  .salvage-info-panel {
    position: absolute;
    left: 1000px;
    top: 890px;
    margin: 0 auto;
    .boxed-label {
      margin: 0 auto 10px auto;

    }
  }

  .left-button-prompts {
    position:absolute;
    left: 500px;
    top: 1275px;

    // Align by the prompt (a lil' hacky)
    text-align: right;

  }

  .right-button-prompts {
    position:absolute;
    left: 1875px;
    top: 1240px;
  }

  .player-status {
    position: absolute;
    left: 1000px;
    top: 1275px;

    display: block;
    width: 600px;
    height: 100px;

    .player-left {
      display: flex;
      float: left;
    }
    .player-right {
      display: flex;
      float: right;
    }
    &::after {
      clear:both;
    }
  }

}