@import '../../assets/colour';
@font-face {
  font-family: 'Dogica';
  src: url('../../assets/fonts/dogica/dogica.ttf') format('truetype');
}

progress[value] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  width: 172px;
  height: 22px;
  // Default HS-SB colours
  background-color: $LYNX-DARK;
};

progress[value]::-webkit-progress-bar {
  background-color: $LYNX-YELLOW;
}
progress[value]::-moz-progress-bar {
  background-color: $LYNX-YELLOW;
}

.bar {
  label {
    color: white;
    font-family: 'Dogica', serif;
  }
  .label-left {
    margin-right: 16px;
  }
  .label-right {
    margin-left: 16px;
  }

  // <progress/> doesn't support ::before/::after, so here's a container div
  .progress-container {
    color: $LYNX-YELLOW;
    &::before {
      content: '[';
      font-size: 24pt;
      font-family: "Open Sans Condensed Light", serif;
      margin-right: 2px;
    }
    &::after {
      content: ']';
      font-size: 24pt;
      font-family: "Open Sans Condensed Light", serif;
      margin-left: 2px;
    }
    .pip {
      content: '█'
    }
  }


}