@import '../../assets/sass/common';

.progress-bar {
  display: inline-block;
  width: 172px;
  height: 22px;

  .progress-value {
    width: 0; // Default!
    background-color: $LYNX-YELLOW;
    height: 100%;
  }

  .progress-value-pips {
    width: 10px;
    height: 22px;
    margin-right: 2px;
    background-color: $LYNX-YELLOW;
    display: inline-block;

    &.danger-pip {
      background-color: $LYNX-WARNING;
    }
  }
}


.bar {
  min-width: 300px;

  label {
    display:block;
    color: white;
    font-family: 'Dogica', serif;
  }

  .label-left {
    margin-right: 16px;
  }

  .label-right {
    margin-left: 16px;
  }

  .progress-container {
    color: $LYNX-YELLOW;
  }


}