@import '../../assets/sass/common';

.button-prompt-border {
  visibility: hidden;
}

.button-prompt-label {
  visibility: hidden;
  display:block;
  color: white;
  font-family: 'Dogica', serif;
}

.show {
  visibility: visible;
}

.button-prompt {
  background-color: $LYNX-OFF-WHITE;
  border-radius: 2px;

  width: 28px;
  height: 28px;
  font-size: 10pt;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  visibility: visible;
  .prompt {
    font-family: 'Dogica', serif;
    color: $LYNX-OFF-WHITE2;
  }

}