@import '../../assets/sass/common';

.button-prompt-border {
  visibility: hidden;

  &.left {
    margin-left: 10px;
  }
  &.right {
    margin-right: 10px;
  }

  &::before {
    height: 32px;
  }
  &::after {
    height: 32px;
  }
}

.button-prompt-label {
  visibility: hidden;
  display: block;
  color: white;
  font-family: 'Dogica', serif;

}

.button-prompt {
  background-color: $LYNX-OFF-WHITE;
  border-radius: 2px;

  width: 28px;
  height: 28px;
  font-size: 10pt;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  visibility: visible;

  .prompt {
    font-family: 'Dogica', serif;
    color: $LYNX-OFF-WHITE2;
  }
}