@import '../../assets/sass/common';

.border {
  color: $LYNX-YELLOW;

  &::before {
    vertical-align: top;

    display: inline-block;
    content: '';

    border-left: $LYNX-YELLOW 1px solid;
    border-top: $LYNX-YELLOW 1px solid;
    border-bottom: $LYNX-YELLOW 1px solid;

    position: relative;
    height: 28px;
    width: 5px;

    margin-right: 4px;
  }
  &::after {
    vertical-align: top;

    display: inline-block;
    content: '';

    border-right: $LYNX-YELLOW 1px solid;
    border-top: $LYNX-YELLOW 1px solid;
    border-bottom: $LYNX-YELLOW 1px solid;

    position: relative;
    height: 28px;
    width: 5px;

    margin-left: 4px;
  }




}