@import '../../assets/sass/common';

.border {
  color: $LYNX-YELLOW;
  &::before {
    content: '[';
    font-size: 24pt;
    font-family: "Open Sans Condensed Light", serif;
    margin-right: 2px;
  }
  &::after {
    content: ']';
    font-size: 24pt;
    font-family: "Open Sans Condensed Light", serif;
    margin-left: 2px;
  }
}