$LYNX-YELLOW: #d2b41e;
$LYNX-DARK: #3b3a3f; // Progress bar bg

$LYNX-WARNING: #be7274; // Scary red!

$LYNX-PROCESSOR: #508a98; // For uhh..processing

// TODO: Rename these
$LYNX-OFF-WHITE: #d0cecf;
$LYNX-OFF-WHITE2: #a1a1a3;

$LYNX-FURNACE-DARK: #845e69;
$LYNX-FURNACE-BRIGHT: #c08895;

$LYNX-PROCESSOR-DARK: #43888f;
$LYNX-PROCESSOR-BRIGHT: #5dafba;

$LYNX-BARGE-DARK: #527648;
$LYNX-BARGE-BRIGHT: #8db171;

$LYNX-CUT-LVL-BORDER: #658496;
$LYNX-CUT-LVL-1: #50b6cd;
$LYNX-CUT-LVL-2: #48a0ce;
// Luckily we're only showing up to 2!